<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plat</title>
</head>
<body>
    <h3>Créer un noveau plat</h3>
    <form action="/plat" method="post">
        <label for="nomplat">Nom du plat:</label><br>
        <input type="text" id="nomplat" name="nom" ><br>
        <label for="prixplat">Prix:</label><br>
        <input type="number" id="prix" name="prix"><br><br>
        <input type="submit" value="Enregistrer">
    </form>
</body>
</html>